* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}

article {
  background: #435058;
}

.search-case {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 70vh;
}

.search-case input {
  padding: 20px;
  width: 50%;
  outline: none;
  font-size: 20px;
  text-align: center;
}

.search-case input:focus::-webkit-input-placeholder {
  color: transparent;
}

.search-case input:focus:-ms-input-placeholder {
  color: transparent;
}

.search-case input:focus::-ms-input-placeholder {
  color: transparent;
}

.search-case input:focus::placeholder {
  color: transparent;
}

.search-case #results {
  list-style: none;
  background: #fff;
  width: 49.9%;
  padding: 10px;
  border-radius: 2px;
  max-height: 200px;
  overflow-y: scroll;
  opacity: 0;
  -webkit-box-shadow: 2px 5px 5px 2px rgba(3, 3, 3, 0.2);
          box-shadow: 2px 5px 5px 2px rgba(3, 3, 3, 0.2);
}

.search-case .row {
  width: 100%;
  background-color: black;
}

.search-case .listseparate {
  padding-bottom: 10px;
  font-size: 18px;
}

@media screen and (max-width: 750px) {
  .search-case input {
    width: 80%;
  }
  .search-case #results {
    opacity: 1;
    width: 79.9%;
    height: 150px;
  }
}

.add-case {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 70vh;
  background-color: #f0f0f0;
  padding-top: 50px;
}

.add-case .title {
  font-size: 30px;
  text-align: center;
}

.add-case .case-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
}

.add-case .case-info input {
  padding: 10px;
  width: 30%;
  outline: none;
  font-size: 20px;
  text-align: center;
  margin: 50px 10px 50px 0;
  border: none;
  background: #fff;
  opacity: 1;
  color: #435058;
  margin-bottom: 25px;
}

.add-case .case-info input::-webkit-input-placeholder {
  color: #435058;
  opacity: .6;
}

.add-case .case-info input:-ms-input-placeholder {
  color: #435058;
  opacity: .6;
}

.add-case .case-info input::-ms-input-placeholder {
  color: #435058;
  opacity: .6;
}

.add-case .case-info input::placeholder {
  color: #435058;
  opacity: .6;
}

.add-case .case-info input:focus::-webkit-input-placeholder {
  color: transparent;
}

.add-case .case-info input:focus:-ms-input-placeholder {
  color: transparent;
}

.add-case .case-info input:focus::-ms-input-placeholder {
  color: transparent;
}

.add-case .case-info input:focus::placeholder {
  color: transparent;
}

.add-case #validate-message {
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 30px;
  color: red;
  opacity: 0;
}

.add-case #add-case {
  cursor: pointer;
  background-color: #C01251;
  color: #fff;
  font-size: 20px;
  padding: 10px 30px;
  border-radius: 20px;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.add-case #add-case:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  background-color: rgba(192, 18, 81, 0.8);
}

.add-case #case-success {
  margin: 50px 50px 25px 50px;
  padding: 10px 20px;
  background-color: rgba(146, 240, 93, 0.7);
  opacity: 0;
}

.add-case span {
  background: #435058;
  color: #435058;
  height: 1px;
  width: 80%;
}

@media screen and (max-width: 750px) {
  .add-case .title {
    margin-bottom: 30px;
  }
  .add-case .case-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .add-case .case-info input {
    width: 80%;
    margin: 10px;
  }
  .add-case #validate-message {
    padding-top: 10px;
  }
}

.recently-added {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 50px;
  background-color: #f0f0f0;
}

.recently-added .title {
  font-size: 30px;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
}

.recently-added .case-contain {
  width: 80%;
  font-size: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
}

.recently-added .case-contain .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  padding: 15px;
}

.recently-added .case-contain .row .case-contain-name {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.recently-added .case-contain .row .case-contain-citation {
  -webkit-box-flex: 1.5;
      -ms-flex: 1.5;
          flex: 1.5;
}

.recently-added .row:nth-child(even) {
  background-color: #fff;
}

.recently-added .row:nth-child(odd) {
  background-color: rgba(67, 80, 88, 0.3);
  color: #fff;
}

@media screen and (max-width: 750px) {
  .recently-added .case-contain {
    width: 100%;
  }
  .recently-added .case-contain .row {
    width: 90%;
    padding: 10px;
    font-size: 20px;
  }
  .recently-added .case-contain .row .case-contain-name {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
  }
  .recently-added .case-contain .row .case-contain-citation {
    -webkit-box-flex: 1.5;
        -ms-flex: 1.5;
            flex: 1.5;
  }
}
/*# sourceMappingURL=main.css.map */